h2 {
    text-align: center;
}

.navbar-nav > li > a:hover {
    color: #5a5a5a!important;
}

.cartStatus
{
    text-align: center;
    font-size: large;
}

.table-bordered
{
    text-align: center;
}