/*body.contact{*/
/*    width:100%;*/
/*    height:100%;*/
/*    background:url(../foto/backgroundContact.jpg) center no-repeat;*/
/*    background-size: cover;*/
/*}*/

body.contact {
    width: 100%;
    height: 100%;
    /*background:url(../foto/livingRoom1.jpg) center fixed no-repeat;*/
    /*background:url(../foto/livingRoom1.jpg) center fixed no-repeat;*/
    /*background:url(../foto/backgroundContact.jpg) center fixed no-repeat;*/
    /*background-color: #adb5bd;*/
    background-size: cover;
}

.contactsHeading{
    font-style: normal;
    text-align: center;
    font-size: 20px;
    margin: 0px 0px 10px 0px;
}

.contactsInformation {
    text-align: center;
}

p{
    margin: 0;
}

#map{
    height: 400px;
    width: 100%;
}
