.detailProductTitle {
    text-align: center;
    color: #267e24;
    font-size: xx-large;
    margin: 100px 0 50px 0;
}

.detailProductDescription{
    text-align: justify;
}

.detailProductSize{
    text-align: center;
}

.buyBtnDetail {
    position: absolute;
    left: 40%;
    margin: 50px 0 50px 0;
}

@media (max-width: 1000px) {
    .detailProductTitle {
        font-size: large;
        margin: 10px 0 10px 0;
    }
    .buyBtnDetail{
        margin: 5px 0 0px 0;
    }
}