.detailProductTitle {
    text-align: center;
    color: #267e24;
    margin: 60px 0 50px 0;
}

.detailProductDescription{
    text-align: center;
}

.detailProductSize{
    text-align: center;
    margin: 10px 0;
}

.detailProductPrice{
    text-align: center;
    margin: 40px 0 10px;
    font-size: larger;
}

.buyBtnDetail {
    position: absolute;
    left: 40%;
    margin: 0 0 50px 0;
    width: 80px;
    height: 30px;
    font-size: larger;
}

.buyBtnDetail:hover{
    color: #2ca02c;
}

@media (max-width: 1000px) {
    .detailProductTitle {
        font-size: xx-large;
        margin: 10px 0 10px 0;
    }
    .buyBtnDetail{
        margin: 0 0 5px 0;
        font-size: medium;
    }

    .detailProductPrice{
        margin-top: 10px;
    }

    .footer{
        margin-top: -40px;
    }

}