.detailProductTitle {
    text-align: center;
    color: #267e24;
    font-size: xx-large;
    /*margin: 100px 0 50px 0;*/
    margin: 60px 0 50px 0;
}

.detailProductDescription{
    text-align: center;
}

.detailProductSize{
    text-align: center;
    margin: 10px 0px;
}

.detailProductPrice{
    text-align: center;
    margin: 40px 0px 10px;
    font-size: larger;
}

.buyBtnDetail {
    position: absolute;
    left: 40%;
    /*margin: 50px 0 50px 0;*/
    margin: 0px 0 50px 0;
    width: 80px;
    height: 30px;
    font-size: larger;
}

.buyBtnDetail:hover{
    color: #2ca02c;
    /*background-color: seashell;*/
    /*border-color: #00aa88;*/
    /*border-width: 5px;*/
}

@media (max-width: 1000px) {
    .detailProductTitle {
        font-size: large;
        margin: 10px 0 10px 0;
    }
    .buyBtnDetail{
        margin: 0px 0 5px 0;
        font-size: medium;
    }

    .footer{
        margin-top: -40px;
    }
}