body.home{
    width:100%;
    height:100%;
    background-size: cover;
}

#w0{
    background-color: #e2e2e2;
    border-color: #e2e2e2;
}

h1{
    color: #669978!important;
}

.img-responsive{
    padding-left: 80px !important;
}

.navbar{
    margin-bottom: 0;
}

.navbar-nav > li > a {
    color: #669978!important;
}

.navbar-nav > li > a:hover {
    color: #27dc7c !important;
}

.navbar-nav {
    flex-direction: row;
    justify-content: center;
    float: none !important;
    text-align: center;
}

.navbar-collapse {
    flex-basis: 0;
    border-top: none;
}

.navbar-inverse .navbar-brand {
    color: #337ab7;
    font-size: 14px;
    padding: 15px 0 15px 0;
}

.navbar-inverse .navbar-nav > .active > a{
    background-color: transparent!important;
    color: #ec614d !important;
}

.navbar-brand {
    padding: 0!important;
}

.navbar-toggle {
    float: initial;
    left: 25%;
}

.sidebar2 img{
    width: 100%;
}

#header {
    margin: 10px 0;
    padding: 15px;
    background: khaki;
    font-size: 18px;
    text-decoration: none;
}

button.btn.btn-outline-success {
    margin: 0 0 15px;
}

.sidebar ul {
    text-align: center;
    padding: 20px;
}

.sidebar ul li {
    margin: 20px;
    list-style-type: none;
    font-weight: 600;
    font-style: oblique;
}

.navbar-fixed-top, .navbar-fixed-bottom {
    position: relative!important;
}

#footer {
    clear: both;
    text-align: center;
    background: darkgoldenrod;
    font-size: medium;
    padding: 10px;
    margin: 20px 0 0;
    width: 100%;
    position: fixed;
    bottom: 0;
}

@media (max-width: 765px) {
    .navbar-nav {
        flex-direction: column;
    }

    .img-responsive{
        padding-left: 0 !important;
    }
}