body.ourProducts{
    width:100%;
    height:100%;
    /*background:url(../foto/livingRoom1.jpg) center fixed no-repeat;*/
    background-color: #e9ebeb;
    background-size: cover;
}

.listProduct {
    margin-top: 25px;
}

.buyProduct {
    float: right;
}

.card-text {
    margin: 10px 0px;
}

#boxProduct div {
    display:inline-block;
}

#boxProduct .priceProduct, .buyProduct {
    font-size: x-large;
    padding: 0px 10px;
}

@media (max-width: 575px) {
    .container {
         text-align: left!important;
    }
}
