body.works{
    width:100%;
    height:100%;
    /*background:url(../foto/livingRoom1.jpg) center fixed no-repeat;*/
    background-color: #e9ebeb;
    background-size: cover;
}

.worksDescription {
    margin-top: 50px;
    text-indent: 30px;
    text-align: justify;
    font-style: italic;
    font-family: cursive;
}

h3, .h3 {
    font-family: cursive;
}

.wrap {
    padding: 0 0 60px;
}