body.works{
    width:100%;
    height:100%;
    background-size: cover;
}

.worksDescription {
    margin-top: 50px;
    text-indent: 30px;
    text-align: justify;
    font-family: cursive;
}

.h1InWorks {
  margin: 20px 0 0!important;
}

.wrap {
    padding: 0 0 60px!important;
}